@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

/* Utility klasa za skrivanje scrollbar-a */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE i Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
